<h2>List product</h2>
<table id="display">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Update</th>
  </tr>
  <tr *ngFor="let p of products">
    <td>{{p.name}}</td>
    <td>{{p.price}}</td>
    <td>{{p.amount}}</td>
    <td>{{p.category!.name}}</td>
    <td><button (click)="update(p.id)">Update</button></td>
  </tr>
</table>

<form [formGroup]="formCreate" (ngSubmit)="createProduct()">
  <table>
    <tr>
      <th colspan="2">
        <h3>Form create</h3>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><input type="text" formControlName="price"></td>
    </tr>
    <tr>
      <th>Amount</th>
      <td><input type="text" formControlName="amount"></td>
    </tr>
    <tr>
      <th>Category</th>
      <td>
        <select formControlName="category">
          <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <button>Create</button>
      </th>
    </tr>
  </table>
</form>
